body {
    background-color: rgb(30, 30, 30);
    margin: 0;
}

.side {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: grid;
    place-items: center;
}

.side .title {
    text-align: right;
    color: white;
    font-size: 8vw;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    margin: 0px 15vw;
    width: 70vw;
}

#left-side {
    background-color: purple;
    z-index: 2;

}

#right-side {
    background-color: orange;
}

.side .title span {
    font-weight: bolder;
}