body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#myH1 {
    font-size: 4rem;
    font-family: "Arial", "sans-serif";
    color: hsl(0, 0%, 25%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    
}

#startbtn {
    background-color: hsl(97, 100%, 70%);
}
#startbtn:hover {
    background-color: hsl(97, 100%, 80%);
}

#stopbtn {
    background-color: hsl(0, 100%, 70%);
}
#stopbtn:hover {
    background-color: hsl(0, 100%, 80%);
}

#resetbtn {
    background-color: hsl(219, 100%, 60%);
}
#resetbtn:hover {
    background-color: hsl(219, 100%, 70%);
}